name = "cloudflare-simple-worker"
main = "src/index.ts"
compatibility_date = "2025-10-01"

[vars]
INGESTION_ENDPOINT = "" # Set your API endpoint URL here or in Cloudflare Dashboard

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1